<form name="form.special_award" novalidate autocomplete="false">
	<div class="row">
	  <div class="col-lg-4">
		<i ng-show="!views.new" class="fa fa-lg" ng-class="{'fa-edit': controls.btns.edit, 'fa-ban': !controls.btns.edit}" style="cursor: pointer;" ng-click="specialAwards.edit(this)"></i>		
	  </div>
	  <div class="col-lg-4 offset-lg-8">
		  <div class="form-group float-right">
			<label>Active</label>
			<div class="toggle lg">
			  <label>
				<input type="checkbox" ng-model="special_award.is_shown" ng-checked="special_award.is_shown" ng-disabled="controls.btns.edit"><span class="button-indecator"></span>
			  </label>
			</div>						
		  </div>	  
	  </div>				
	</div>
	<hr>			
	<div class="row">
	  <div class="col-lg-3">
		  <div class="form-group">
			<label>Event</label>
			<select class="form-control" ng-class="{'is-invalid': form.special_award.event_id.$touched && form.special_award.event_id.$invalid}" name="event_id" ng-model="special_award.event_id" ng-options="event.description for event in events track by event.id" ng-disabled="controls.btns.edit" required></select>
			<div class="form-control-feedback" ng-show="form.special_award.event_id.$touched && form.special_award.event_id.$invalid">Event is required</div>
		  </div>
	  </div>				
	  <div class="col-lg-3">
		  <div class="form-group">
			<label>Description</label>
			<input type="text" class="form-control" ng-class="{'is-invalid': form.special_award.description.$touched && form.special_award.description.$invalid}" name="description" ng-model="special_award.description" ng-disabled="controls.btns.edit" required>
			<div class="form-control-feedback" ng-show="form.special_award.description.$touched && form.special_award.description.$invalid">Description is required</div>
		  </div>				  
	  </div>
	  <div class="col-lg-3">
		  <div class="form-group">
			<label>No of winners</label>
			<input type="number" class="form-control" ng-class="{'is-invalid': form.special_award.winners.$touched && form.special_award.winners.$invalid}" name="winners" ng-model="special_award.winners" ng-disabled="controls.btns.edit" required>
			<div class="form-control-feedback" ng-show="form.special_award.winners.$touched && form.special_award.winners.$invalid">No of winners is required</div>
		  </div>  
	  </div>
	  <div class="col-lg-3">
		  <div class="form-group">
			<label>Remarks</label>
			<input type="text" class="form-control" name="remarks" ng-model="special_award.remarks" ng-disabled="controls.btns.edit">
		  </div>  
	  </div>				
	</div>				
	<hr>
	<h3 class="tile-title">Criteria</h3>
	<button type="button" class="btn btn-primary float-right" ng-click="specialAwards.criteria.add(this)" ng-disabled="controls.btns.edit">Add</button>
	<div class="clearfix"></div>
	<div class="table-responsive" style="margin-top: 20px;">
	  <table class="table">
		<thead>
		  <tr>
			<th>#</th>
			<th>Portion</th>
			<th>Criterion</th>
			<th>Percentage</th>
			<th>Actions</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="sac in special_award.criteria">
			<td>{{(sac.id>0)?sac.id:$index+1}}</td>
			<td>
				<select class="form-control" name="portion_id{{$index}}" ng-model="sac.portion_id" ng-options="por.description for por in portions track by por.id" ng-class="{'is-invalid': form.special_award.portion_id{{$index}}['$touched'] && form.special_award.portion_id{{$index}}['$invalid']}" ng-disabled="sac.disabled" required></select>
				<div class="form-control-feedback" ng-show="form.special_award.portion_id{{$index}}['$touched'] && form.special_award.portion_id{{$index}}['$invalid']">Portion is required</div>
			</td>			
			<td>
				<select class="form-control" name="criteria_id{{$index}}" ng-model="sac.criteria_id" ng-options="cri.description for cri in sac.portion_id.criteria track by cri.id" ng-class="{'is-invalid': form.special_award.criteria_id{{$index}}['$touched'] && form.special_award.criteria_id{{$index}}['$invalid']}" ng-disabled="sac.disabled" required></select>
				<div class="form-control-feedback" ng-show="form.special_award.criteria_id{{$index}}['$touched'] && form.special_award.criteria_id{{$index}}['$invalid']">Criterion is required</div>
			</td>
			<td>
				<input type="number" class="form-control" name="percentage{{$index}}" ng-model="sac.percentage" ng-class="{'is-invalid': form.special_award.percentage{{$index}}['$touched'] && form.special_award.percentage{{$index}}['$invalid']}" ng-disabled="sac.disabled" required>
				<div class="form-control-feedback" ng-show="form.special_award.percentage{{$index}}['$touched'] && form.special_award.percentage{{$index}}['$invalid']">Percentage is required</div>
			</td>						
			<td>
				<button type="button" class="btn btn-primary" ng-click="specialAwards.criteria.edit(this,sac)" ng-disabled="controls.btns.ok"><i class="fa" ng-class="{'fa-pencil': sac.disabled, 'fa-check': !sac.disabled}"></i></button>
				<button type="button" class="btn btn-danger" ng-click="specialAwards.criteria.delete(this,sac)" ng-disabled="controls.btns.ok"><i class="fa fa-times"></i></button>
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
	<hr>
	<h3 class="tile-title">Contestants</h3>
	<div class="row">
		<div class="col-lg-6 offset-lg-6">
			<div class="input-group mb-3">
			  <input type="text" class="form-control" placeholder="Search" ng-model="searchContestant">
			  <div class="input-group-append">
				<span class="input-group-text"><i class="fa fa-search"></i></span>
			  </div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					<div class="toggle lg">
					  <label>
						<input ng-disabled="controls.btns.edit" type="checkbox" ng-model="addAllContestants" ng-checked="addAllContestants" ng-change="specialAwards.toggleAddAllContestants(this)"><span class="button-indecator"></span>
					  </label>
					</div>			
				</th>
				<th>No</th><th>Name</th><th>Description</th></tr>
		</thead>
		<tbody>
			<tr ng-repeat="c in contestants | filter:searchContestant">
			<td>
				<div class="toggle lg">
				  <label>
					<input ng-disabled="controls.btns.edit" type="checkbox" ng-model="c.participant" ng-checked="c.participant" ng-change="specialAwards.addAllContestantsToggler(this,true)"><span class="button-indecator"></span>
				  </label>
				</div>
			</td>
			<td>{{c.contestant_no}}</td><td>{{c.contestant_name}}</td><td>{{c.description}}</td></tr>
		</tbody>
	</table>	
	<hr>
	<h3 class="tile-title">Places</h3>
	<button type="button" class="btn btn-primary float-right" ng-click="specialAwards.places.add(this)" ng-disabled="controls.btns.edit">Add</button>
	<div class="clearfix"></div>
	<div class="table-responsive" style="margin-top: 20px;">
	  <table class="table">
		<thead>
		  <tr>
			<th>#</th>
			<th>Rank</th>
			<th>Description</th>
			<th>Actions</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="sap in special_award.places">
			<td>{{(sap.id>0)?sap.id:$index+1}}</td>
			<td>
				<input type="number" class="form-control" name="rank{{$index}}" ng-model="sap.rank" ng-class="{'is-invalid': form.special_award.rank{{$index}}['$touched'] && form.special_award.rank{{$index}}['$invalid']}" ng-disabled="sap.disabled" required>
				<div class="form-control-feedback" ng-show="form.special_award.rank{{$index}}['$touched'] && form.special_award.rank{{$index}}['$invalid']">Rank is required</div>
			</td>
			<td>
				<input type="text" class="form-control" name="place_description{{$index}}" ng-model="sap.description" ng-class="{'is-invalid': form.special_award.place_description{{$index}}['$touched'] && form.special_award.place_description{{$index}}['$invalid']}" ng-disabled="sap.disabled" required>
				<div class="form-control-feedback" ng-show="form.special_award.place_description{{$index}}['$touched'] && form.special_award.place_description{{$index}}['$invalid']">Description is required</div>
			</td>					
			<td>
				<button type="button" class="btn btn-primary" ng-click="specialAwards.places.edit(this,sap)" ng-disabled="controls.btns.ok"><i class="fa" ng-class="{'fa-pencil': sap.disabled, 'fa-check': !sap.disabled}"></i></button>
				<button type="button" class="btn btn-danger" ng-click="specialAwards.places.delete(this,sap)" ng-disabled="controls.btns.ok"><i class="fa fa-times"></i></button>
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>				
	<hr>
	<button class="btn btn-success float-right" type="button" ng-click="specialAwards.save(this)" ng-disabled="controls.btns.edit">Save</button>				
	<div class="clearfix"></div>				
</form>